{% extends 'layout.twig' %} {% block body %}

    <div id="galleryDetalle">
        <h1>HOJAS</h1>
            <p class="small">{{title}}</p>
            
            <figure class="figureDetalle" data={{item.id}}>
                <img src={{item.src}}>
                <h2>{{item.especie}}</h2>
                <fav class={{item.favorito}}></fav>
                <h3>Limbo: {{item.limbo}}</h3>
                <h3>Peciolo: {{item.peciolo}}</h3>    
            </figure>
        
        <footer id="paginado">
            <button class="btn" type="button"><a href="/home">Home</a></button>
        </footer>
    </div>
    {% endblock %}