{% extends 'layout.twig' %} {% block body %}

    <aside>
		<body>
    	<h2>Hojas</h2>
        <nav id="navGallery">
            <p class="small">{{title}}</p>
        </nav>
        <p class="small">{{url}}</p>

        <div class="select">
            <select class="select-text" id="favorito">
                <option value='Todas'>Todas</option>
                <option value='siFavorito'>Favoritas</option>
                <option value='noFavorito'>no Favoritas</option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Favoritos</label>
        </div>
        
        <div class="select">
            <select class="select-text" id="limbo">
                <option value='Todas'>Todas</option>
                <option value='Peltada'>Peltada</option>
                <option value='Bilobulada'>Bilobulada</option>
                <option value='Acorazonada'>Acorazonada</option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Limbo</label>
        </div>
        
        <div class="select">
            <select class="select-text" id="peciolo">
                <option value='Todas'>Todas</option>
                <option value='Paralelinervia'>Paralelinervia</option>
                <option value='Radial'>Radial</option>
            </select>
            <span class="select-highlight"></span>
            <span class="select-bar"></span>
            <label class="select-label">Peciolo</label>
        </div>

        <button class="btn" type="button" id="botonFiltro"><span>Filtrar</span></button>

    </aside>
    <div id="mainGallery">
        <section id="gallery">
    		{% for i in Hojas %}
            <figure class="flex card card-1"  data={{i.id}}>
                <img src={{i.src}}>
                <h2>{{i.especie}}</h2>
                <fav class="estrella + {{i.favorito}}"></fav>
                <h3>Limbo: {{i.limbo}}</h3>
                <h3>Peciolo: {{i.peciolo}}</h3>
                <button class="btnDetalle btn">Ver Detalle</button>
            </figure>
            {% endfor %}
        </section>
        <footer id="paginado">
        </footer>
    </div>
    {% endblock %}